.article__head {
    text-align: center;
    background-color: #A8DADC;
    border: 1px solid #1D3557;
    padding: 10px;
    margin-bottom: 0px;
}

.article__head--footer {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
}