.header {
    text-align: center;
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

.footer {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.button {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 5px auto;
    background-color: #457B9D;
    border-style: none;
    border-radius: 10px;
    color: #fff;
}

.darkTheme {
    background-color: #686867;
}

#homepage {
    background-color: #E63946;
}

.onside {
    width: 35%;
    background-color: #A8DADC;
    padding-left: 20px;
    margin: 20px;
    float: right;
    border: 2px solid #457B9D;
}
